/**
 * Styles for Sample
 *
 * @author Takuto Yanagida
 * @version 2024-02-06
 */

:root {
	font-size  : 16px;
	font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}

body {
	padding-block: 4vh;
	overflow-x   : hidden;

	background-color: #fff;
}

h1 small {
	font-size: small;
}

h2 {
	margin-block-start: 6rem;
}

h3 {
	margin-block-start: 2rem;
}

pre {
	margin: 0;
	overflow-x: auto;
}

dt {
	font-weight: bold;
}

dd + dt {
	margin-block-start: 0.5rem;
}

.content {
	margin-inline: auto;
	max-width    : 48rem;
	width        : calc(100% - 2vw);

	color: hsla(0, 0%, 0%, 0.75);
}
